.container{
    /* height: 800px; */
    background-color: beige;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap-reverse
}

.child{
    width: 50%;
    height: 200px;
}

.red{
    background-color: red;
    /* width: 400px; */
    order:3
}

.blue{
    background-color: blue;
    order:2
}

.green{
    background-color: green;
    order:1
}