.parent{
    width: 500px;
    height: 500px;
}

/* .parent .child{
    background-color: yellow;
} */

/* .parent>div>div>h1{
    background-color: red;
} */

/* h1.child{
    background-color: bisque;
}

div.parent{
    background-color: aquamarine;
} */

/* div,h1{
    background-color: red;
} */

/* input */

/* input[type='text']{
    background-color: aqua;
    width: 400px;
}

input[type='password']{
    background-color: red;
} */


