.parent{
    width: 500px;
    height: 500px;
}

/* .parent .child{
    background-color: yellow;
} */

/* .parent>div>div>h1{
    background-color: red;
} */

/* h1.child{
    background-color: bisque;
}

div.parent{
    background-color: aquamarine;
} */

/* div,h1{
    background-color: red;
} */

/* input */

/* input[type='text']{
    background-color: aqua;
    width: 400px;
}

input[type='password']{
    background-color: red;
} */

/* a:link{
    color: chartreuse;
}

a:visited{
    color: red;
}

a:hover{
    color:aqua
}

a:active{
    color:slateblue;
} */

/* .container{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
}

div:hover{
    background-color: aquamarine;
} */

/* .child{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background-color: aqua;
}

.container>div:first-child{
    background-color: blueviolet;
} */